{% load static %}
<html>
  <head>
    <title>About Us</title>
    <link href="{% static 'src/styles.css' %}" rel="stylesheet" />
  </head>
  <body class="bg-gray-100">
    <!-- Navbar -->
    {% include "../components/_navbar.html" %}

    <div class="relative w-full h-56 bg-cover bg-center" style="background-image: url('../media/images/aboutus.jpg');">
      <div class="absolute inset-0 bg-black opacity-50"></div>
      <div class="relative z-10 text-center text-white py-24">
        <h1 class="text-4xl font-extrabold">About Us</h1>
        <p class="text-xl mt-4">Learn more about our team and mission!</p>
      </div>
    </div>

    <div class="max-w-6xl mx-auto mt-10 px-4 text-gray-800">
      <div class="text-center">
        <h2 class="text-3xl font-extrabold text-gray-800">Our Story</h2>
        <p class="text-xl text-gray-600 mt-4">This blog is built to teach the Django web framework to BIM 5th-semester students.</p>
      </div>

      <div class="mt-10 grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="flex justify-center transition duration-300 ease-in-out transform hover:scale-105">
          <img src="{% static '../media/images/team.jpg' %}" alt="Our Team" class="rounded-lg shadow-lg h-60 w-full object-cover" />
        </div>

        <div>
            <p class="text-lg text-gray-700">This blog, provided by Chitwan College of Technology, teaches the Django web framework to BIM 5th-semester students.</p>
            <p class="text-lg text-gray-700 mt-4">This project, created under the guidance of Unique Adhikari at Chitwan College of Technology, focuses on performing CRUD operations using the Django web framework and MySQL database, providing BIM 5th-semester students with a solid understanding of web development.</p>        </div>
      </div>

    </div>

    <!-- Footer -->
    {% include "../components/_footer.html" %}
  </body>
</html>
