{% load static %}
<html>
  <head>
    <title>{{ blog.title }}</title>
    <link href="{% static 'src/styles.css' %}" rel="stylesheet" />
  </head>

  <body class="bg-gray-100">
    <!-- Navbar -->
    {% include "../components/_navbar.html" %}

    <div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16 -mt-16">
      <div
        class="relative w-full h-[500px] bg-cover bg-center rounded-lg shadow-lg"
        style="background-image: url('{{ blog.image.url }}');"
      >
        <div class="absolute inset-0 bg-black bg-opacity-40 rounded-lg"></div>
      </div>

      <div
        class="max-w-3xl mx-auto bg-white shadow-lg rounded-lg p-8 relative -mt-24"
      >
        <h1 class="text-gray-900 font-extrabold text-4xl mb-4 text-center">
          {{ blog.title }}
        </h1>

        <div
          class="flex items-center justify-start space-x-4 text-gray-600 text-sm mb-4 -mt-5"
        >
          <span class="font-semibold text-indigo-600"
            >By {{ blog.author.username }}</span
          >
          <span>•</span>
          <span>{{ blog.created_at|date:"F d, Y" }}</span>
        </div>
        <hr class="border-t-2 border-gray-200 mb-6 -mt-2" />

        <p class="text-gray-700 text-xl italic text-center mb-6">
          "{{ blog.subtitle }}"
        </p>

        <p class="text-gray-800 leading-7 text-lg text-justify mb-6 mt-10">
          {{ blog.description }}
        </p>

        {% if request.user == blog.author %}
        <div class="flex justify-center gap-6">

          <form action="{% url 'edit_blog' blog.id %}">
            <button class="flex items-center bg-yellow-500 hover:bg-yellow-600 text-white font-semibold px-6 py-3 rounded-lg shadow-md transition duration-300">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l2.616-2.616a2.25 2.25 0 013.181 3.181l-2.616 2.616m-7.453 7.453l-5.75 5.75a2.25 2.25 0 01-3.18-3.181l5.75-5.75m2.283-2.283l3.366 3.366a1.5 1.5 0 00.848-.848l.283-1.366a2.25 2.25 0 00-.283-1.366L13.106 7.83m-2.137-2.136l3.366 3.366"></path>
              </svg>
              Edit Blog
            </button>
          </form>
        
          <form action="{% url 'delete' blog.id %}">
            <button class="flex items-center bg-red-500 hover:bg-red-600 text-white font-semibold px-6 py-3 rounded-lg shadow-md transition duration-300">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
              </svg>
              Delete Blog
            </button>
          </form>
        
        </div>
        
        
        {% endif %}
      </div>
    </div>

    <!-- Footer -->
    {% include "../components/_footer.html" %}
  </body>
</html>
